main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  font-family: sans-serif   ;
}

.form {
  width: 100%;
  background-color: #2c2f38;
  border: 1px solid #4d5261;
  border-radius: 12px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  color: white;
  padding: 1rem;
  font-weight: 500;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: start;
  width: 100%;

}

input {
  border: 1px solid gray;
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 12px;
  width: 100%;

}

button {
  border: 1px solid #5c65ba;
  padding-block: 12px;
  padding-inline: 8px;
  border-radius: 6px;
  background-color: #8692fd;
  color: white;
  box-shadow: none;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}
